<th:block xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="/images/favicon.png"/>
        <title>The Magic World of Books</title>
        <script src="https://kit.fontawesome.com/4655d500f3.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/reset-css.css"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <script src="/js/jquery-3.5.1.slim.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
</th:block>