<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="quantityControl(quantity, bookId)">
    <nav>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link minusButton"
                   th:href="" th:bookId="${bookId}">
                    <b>-</b>
                </a>
            </li>
            <li class="page-item">
                <input th:value="*{quantity}"
                       type="text"
                       class="form-control text-center"
                       onkeydown="return false;"
                       style="max-width: 55px"
                       th:id="'quantity' + ${bookId}"/>
            </li>
            <li class="page-item">
                <a class="page-link minusButton"
                   th:href="" th:bookId="${bookId}">
                    <b>+</b>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>