<th:block xmlns:th="http://www.thymeleaf.org">
<!--    <div id="sidebar-wrapper">-->
<!--        <ul class="sidebar-nav" id="sidebar">-->
<!--            <li class="sidebar-brand">-->
<!--                <a class="navbar-brand align-items-center" href="/">-->
<!--                    <span>Categories:</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a th:href="@{/books/all}" class="nav-link">-->
<!--                    <span>All Books</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li th:each="c : ${T(bg.softuni.webbookstore.model.entity.enums.CategoryEnum).values()}">-->
<!--                <a th:href="@{/books/${c}}" class="nav-link">-->
<!--                    <span th:text="${c}" th:value="${c}">Category</span>-->
<!--                </a>-->
<!--            </li>-->

<!--        </ul>-->
<!--    </div>-->

    <nav id="sidebar">
        <div class="sidebar-header">
            <h5>My Bookstore</h5>
            <strong>BS</strong>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a th:href="@{/home}">
                    <i class="fas fa-home"></i>
                    Home
                </a>
            </li>
            <li>
                <a th:href="@{/books/all}">
                    <i class="fas fa-book-open"></i>
                    All Books
                </a>
            </li>
            <li>
                <a href="#categoriesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-list-ul"></i>
                    Categories
                </a>
                <ul class="collapse list-unstyled" id="categoriesSubmenu">
                    <li th:each="c : ${T(bg.softuni.webbookstore.model.entity.enums.CategoryEnum).values()}">
                        <a th:href="@{/books/${c}}">
                            <span th:text="${c}" th:value="${c}">Category</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</th:block>