<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"></th:block>

<body>

<div>
    <th:block th:include="~{fragments/navbar}"></th:block>
</div>

<div id="wrapper" class="toggled container-fluid">

    <th:block th:include="~{fragments/sidebar}"></th:block>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="row mt-5" id="booksList">
            <div class="col-md-3" >
                <div class="card mb-4 box-shadow">
                    <img src="/" class="card-img-top" alt="Thumbnail [100%x225]"
                         data-holder-rendered="true"
                         style="height: 225px; width: 100%; display: block;">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href=""  type="button" class="btn btn-sm btn-outline-secondary">Details</a>
                        </div>
                        <div class="btn-group">
                            <a href=""  type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <p class="card-text border-bottom ">${b.title}</p>
                            <p class="card-text border-bottom text-secondary">Author: ${b.author}</p>
                            <p class="card-text border-bottom ">Price: ${b.price}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="~{fragments/footer}"></th:block>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<script th:src="@{js/search.js}"></script>
</body>
</html>
