<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"></th:block>

<body>

<div>
    <th:block th:include="~{fragments/nav}"></th:block>
</div>

<div class="container-fluid">

    <nav class="navbar navbar-dark" style="background-color: #0f2137;">
        <a class="navbar-brand" href="/">
            <img th:src="@{/images/avatar.png}" width="30" height="30" class="d-inline-block align-top" alt="">
            Categories
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#categoriesNavbar"
                aria-controls="categoriesNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="categoriesNavbar">

            <ul class="navbar-nav mr-auto col-12 justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/books/all}">All Books</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/books/add}">Add Book</a>
                </li>
            </ul>

        </div>
    </nav>

    <h5 class="text-center text-white mt-5">Here I will insert the books</h5>
</div>

<th:block th:include="~{fragments/footer}"></th:block>

</body>
</html>
