<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>

<body>

<!-- Navigation-->
<header th:replace="fragments/commons :: navbar"></header>

<main class="page align-content-center">

    <!-- Main Content-->
    <section class="container-fluid" id="wrapper">

        <!-- Sidebar-->
        <nav th:replace="fragments/commons :: sidebar"></nav>

        <!-- Page Content -->
        <div id="content">


        </div>
    </section>
</main>

<!-- Footer-->
<footer th:replace="fragments/commons :: footer"></footer>

<!-- Sidebar Toggle Script -->
<script th:src="@{//localhost:8080/js/sidebar-toggle.js}" type="text/javascript"></script>

<!-- Search script-->
<script th:src="@{//localhost:8080/js/search.js}" type="text/javascript"></script>

</body>
</html>