<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"></th:block>

<body>
<main class="page align-content-center">

    <!-- Navigation-->
    <th:block th:include="~{fragments/navbar}"></th:block>

    <!-- Main Content-->
    <section class="container-fluid" id="wrapper">

        <!-- Sidebar-->
        <th:block th:include="~{fragments/sidebar}"></th:block>

        <!-- Page Content -->
        <div id="content">


        </div>
    </section>

    <!-- Footer-->
    <th:block th:include="~{fragments/footer}"></th:block>

</main>

<!-- Sidebar Toggle Script -->
<script th:src="@{//localhost:8080/js/sidebar-toggle.js}" type="text/javascript"></script>

<!-- Search script-->
<script th:src="@{//localhost:8080/js/search.js}" type="text/javascript"></script>

</body>
</html>