<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>

<body>

<!-- Navigation-->
<header th:replace="fragments/commons :: navbar"></header>

<main class="align-content-center">

    <!-- Main Content-->
    <section class="container-fluid">

        <!-- Sidebar-->
        <nav th:replace="fragments/commons :: sidebar"></nav>

        <!-- Page Content -->
        <div id="content">

            <article id="publishing-house-wrapper" class="rounded p-2 m-3">
                <section th:object="${publishingHouse}"
                         id="publishing-house-details"
                         class="p-4 m-3 clearfix align-items-center">
                    <section id="publishing-house-image" class="text-center">
                        <img th:src="*{getImageUrl()}" alt="Thumbnail [100%x225]"
                             class="float-md-left mr-3 rounded"
                             data-holder-rendered="true">
                    </section>
                    <section id="publishing-house-info">
                        <h1 th:text="*{name}">Title</h1>
                        <p th:text="*{description}"
                           class="text-justify">Description
                        </p>
                    </section>
                </section>
            </article>

            <div class="row d-flex justify-content-center">
                <article th:each="b : ${books}"
                         th:object="${b}"
                         class="card rounded p-2 m-3 col-sm-6 col-md-3">
                    <a th:href="@{/books/{id}(id=*{id})}">
                        <img class="card-image" th:src="*{getImageUrl()}" alt="Thumbnail [100%x225]"
                             data-holder-rendered="true">
                        <div class="btn-group d-flex justify-content-end">
                            <a th:href="@{/books/{id}(id=*{id})}"
                               type="button" class="btn btn-md">
                                <i class="far fa-heart"></i>
                            </a>
                            <a th:href="@{/books/{id}(id=*{id})}"
                               type="button" class="btn btn-md">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="card-body pt-1">
                            <div class="text-center">
                                <h5 class="card-title" th:text="*{title}"></h5>
                                <p class="card-text text-secondary">Author:
                                    <a th:text="*{author}"
                                       th:href="@{/authors/{id}(id=*{authorId})}">
                                    </a>
                                </p>
                                <p class="card-text" th:text="|Price: *{price} BGN|"></p>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

        </div>
    </section>
</main>

<!-- Footer-->
<footer th:replace="fragments/commons :: footer"></footer>

</body>
</html>