<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>

<body>

<!-- Navigation-->
<header th:replace="fragments/commons :: navbar"></header>

<main class="page align-content-center">

    <!-- Main Content-->
    <section class="container-fluid" id="wrapper">

        <!-- Sidebar-->
        <nav th:replace="fragments/commons :: sidebar"></nav>

        <!-- Page Content -->
        <div id="content">

            <form method="POST"
                  th:action="@{/users/register}"
                  th:object="${userRegisterBindingModel}"
                  class="main-form mx-auto w-75 bg-blur">
                <h2 class="text-white">Register User</h2>
                <br>
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="firstName" class="text-white font-weight-bold">First Name</label>
                        <input th:field="*{firstName}"
                               th:errorclass="is-invalid"
                               id="firstName"
                               name="firstName"
                               type="text"
                               min="2" max="20"
                               class="form-control"
                               placeholder="First name"/>
                        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                           id="firstNameError"
                           class="invalid-feedback errors alert alert-danger">
                            First name is required.
                        </p>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="lastName" class="text-white font-weight-bold">Last Name</label>
                        <input th:field="*{lastName}"
                               th:errorclass="is-invalid"
                               id="lastName"
                               name="lastName"
                               type="text"
                               min="2" max="20"
                               class="form-control"
                               placeholder="First name"/>
                        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                           id="lastNameError"
                           class="invalid-feedback errors alert alert-danger">
                            Last name is required.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="username" class="text-white font-weight-bold">Username</label>
                        <input th:field="*{username}"
                               th:errorclass="is-invalid"
                               id="username"
                               name="username"
                               type="text"
                               min="2" max="20"
                               class="form-control"
                               placeholder="Username"/>
                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                           id="usernameError"
                           class="invalid-feedback errors alert alert-danger">
                            Username is required.
                        </p>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="password" class="text-white font-weight-bold">Password</label>
                        <input th:errorclass="is-invalid"
                               id="password"
                               name="password"
                               type="password"
                               min="2" max="20"
                               class="form-control"
                               placeholder="Password"/>
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                           id="passwordError"
                           class="invalid-feedback errors alert alert-danger">
                            Password is required.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="confirmPassword" class="text-white font-weight-bold">Confirm password</label>
                        <input th:errorclass="is-invalid"
                               id="confirmPassword"
                               name="confirmPassword"
                               type="password"
                               min="2" max="20"
                               class="form-control"
                               placeholder="Confirm password"/>
                        <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                           id="confirmPasswordError"
                           class="invalid-feedback errors alert alert-danger">
                            Password is required.
                        </p>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-5">
                    <input type="submit" class="btn btn-info btn-md btn-block w-50" value="Register"/>
                </div>
            </form>
        </div>
    </section>
</main>

<!-- Footer-->
<footer th:replace="fragments/commons :: footer"></footer>

<!-- Sidebar Toggle Script -->
<script th:src="@{//localhost:8080/js/sidebar-toggle.js}" type="text/javascript"></script>

<!-- Search script-->
<script th:src="@{//localhost:8080/js/search.js}" type="text/javascript"></script>

</body>
</html>
