<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>

<body>

<!-- Navigation-->
<header th:replace="fragments/commons :: navbar"></header>

<main class="align-content-center">

    <!-- Main Content-->
    <section class="container-fluid">

        <!-- Sidebar-->
        <nav th:replace="fragments/commons :: sidebar"></nav>

        <!-- Page Content -->
        <div id="content">
            <div id="shopping-cart-wrapper" class="rounded p-2 m-3">
                <h3 class="text-center">My Shopping Cart:</h3>
                <br/>

                <div th:if="${#lists.isEmpty(cartItems)}">
                    <h5 class="text-center">You have not chosen any books yet</h5>
                </div>

                <div class="cart-items-container">

                    <article th:each="cartItem : ${cartItems}"
                         th:object="${cartItem}"
                         class="cart-item row m-1">
                        <div class="col-sm-8">
                            <div class="row border rounded">
                                <div class="col-1">
                                    <div class="btn-group">
                                        <a th:href="@{/cart/{id}(id=*{id})}"
                                           type="button" class="btn btn-md">
                                            <i class="fa fa-trash-o fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <a th:href="@{/books/details/{id}(id=*{book.getId()})}">
                                <img class="img-fluid"
                                     th:src="*{book.getImageUrl()}"
                                     th:title="*{book.getTitle()}">
                            </a>
                        </div>
                        <div class="col-6">
                            <div>
                                <strong th:text="*{book.getTitle()}"></strong>
                            </div>
                            <div th:replace="~{fragments :: quantity-control(*{quantity}, *{book.getId()})}">
                            </div>
                            <div>
                                <span>x</span>
                                <span th:text="*{book.getPrice()}"></span> lv.
                            </div>
                            <div>
                                <span>=</span><span class="h5">Subtotal</span>
                            </div>
                        </div>
                        <div class="row m-1">&nbsp;</div>

                        <div class="col-sm-4" th:unless="${#lists.isEmpty(cartItems)}">
                            <div>
                                <span class="h3">Estimated total:</span>
                            </div>
                            <div class="mt-2">
                                <span class="h2">[Total amount]</span>
                            </div>
                            <div class="mt-2">
                                <button class="btn btn btn-info btn-md">
                                    Check Out
                                </button>
                            </div>
                        </div>
                    </article>

                </div>

            </div>

        </div>
    </section>
</main>

<!-- Footer-->
<footer th:replace="fragments/commons :: footer"></footer>

</body>
</html>